.ncommonA{
    color: rgb(126, 185, 185);
    text-align: center;
}
.ncommonB{
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

#page-sample {
    display: flex;
}
#page{
    display:flex;
}
ul.sample_menu {
    display:-webkit-flex;
    display:flex;
    width:100%;
    list-style-type:none;
    margin:0; padding:0;
    }
    
    ul.sample_menu a {
    display:block;
    margin:2px; padding:10px; font-size:10px;
    background-color:#66cc99; color:#ffffff;
    text-align:center;
    text-decoration:none;
    }
/* :::::: sample1 :::::: */
#sample1 p {
    font: 1em/1 monospace;
    }
    #sample1 p span {
    font-size: 0.75em;
    }
    #sample1 {
    position: relative;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    background: url(../img/grid.gif) left top;
    }
    #sample1 div {
    padding: 10px;
    }
    #sample1 p {
    margin: 0;
    padding: 5px 0;
    color: #593869;
    cursor: default;
    white-space: nowrap;
    }
    #sample1 #c {
    letter-spacing: 0;
    }
    #sample1 #d {
    position: absolute;
    top: 9em;
    left: 0;
    padding: 3px 10px;
    }
     
    #sample1:hover #a {
    margin-left: 200px;
    }
    #sample1:hover #b {
    padding-left: 200px;
    color: red;
    }
    #sample1:hover #c {
    text-indent: 200px;
    letter-spacing: 5px;
    }
    #sample1:hover #d {
    left: 200px;
    background: white;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    }
     
    #sample1 #a {
    transition: margin 1s ease 0s;
    -webkit-transition: margin 1s ease 0;
    }
    #sample1 #b {
    transition: padding 1s ease-in 0s, color 1s ease-in 0s;
    -webkit-transition: padding 1s ease-in 0, color 1s ease-in 0;
    }
    #sample1 #c {
    transition: text-indent 1s ease-out 0s, letter-spacing 1s ease-out 0s;
    -webkit-transition: text-indent 1s ease-out 0, letter-spacing 1s ease-out 0;
    }
    #sample1 #d {
    transition: left 1s ease-in-out 0s,  1s ease-in-out 0s, box-shadow 1s ease-in-out 0s;
    -webkit-transition: left 1s ease-in-out 0, 1s ease-in-out 0, box-shadow 1s ease-in-out 0;
    }
.photo-show{
    height: 500px;
    margin: 50px auto;
    max-width: 100%;
    position: relative;
    width: 500px;
}
.photo-show img {
    animation: show 0s infinite;
    -webkit-animation: show 0s infinite;
}
@keyframes show {
    0%{opacity: 0%} 
    5%{opacity: 1%} 
    10%{opacity: 1%}
    15%{opacity: 0%} 
}
@-webkit-keyframes show{
    0%{opacity: 0%}
    5%{opacity: 1%}
    10%{opacity: 1%}
    15%{opacity: 0%}
}
a:active{
    color: red;
}



#css-slider {
	width: 300px;
	height: 200px;
	overflow: hidden;
}
 
.slide-item {
	width: 300px;
	height: 200px;
	float: left;
	position: relative;
}
.slide-item img{
    height: auto;
    display: block;
}
 
 
.slider-wrapper {
	width: 300%;
	position: relative;
	left: 0;
	will-change: transform;
	animation: slider 10s infinite;
}
 
@keyframes slider {
  0% { transform: translateX(0); }
  33% { transform: translateX(-300px); }
  66% { transform: translateX(-600px); }
  100% { transform: translateX(0); }
}
#propeller:hover{
    animation-name: rollOver;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;

}
@keyframes rollOver {
    0% {
        transform: rotate(0deg);
    }
     100%{
        transform: rotate(360deg);
    }
}
